$redPokeBall : #ED1B24;

.footer{
    background-color: black;
    border-top: 5px solid $redPokeBall;
    color: white;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;    
    justify-content: center;
    align-items: center;
}