@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Lobster&display=swap');


/* 
font-family: 'Akronim', cursive;
font-family: 'Lobster', cursive;
 */


*{
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}