.modal-create-externe{
    background-color: rgba(0, 0, 0, 0.507);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-create-interne{
        border: 5px solid darkred;
        border-radius: 0 50px;
        box-shadow: 50px 50px 50px black;
        width: 50%;
        height: 50%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        form{
            border: 2px solid black;
        }
    }
}