$redPokeBall : #ED1B24;


.modal-create-externe{
    background-color: rgba(0, 0, 0, 0.507);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-create-interne{
        border: 5px solid $redPokeBall;
        border-radius: 0 50px;
        box-shadow: 50px 50px 50px black;
        width: 50%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        form{
            width: 60%;
            display: flex;
            flex-direction: column;
            padding: 10px;
            .form-line{
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            button{
                margin-top: 10px;
            }
        }
    }
}